<% item = row if row %>
<tr id="<%= dom_id(item)%>" style='<%= defined?(hide) ? "display:none" : '' -%>'  >
	<td> 
	
	<td><%= item.id %></td>
	<td><%= item.name-%></td>
	<td><%=item.fecha_creacion%></td>
</tr>