<h3><%= link_to "Inicio", {:controller => "/start"},{} -%>&rarr; 
<%= link_to "Usuario", {:controller => "/start", :action => "usuario"},{} -%>&rarr;
<%= link_to "Encuestas", usuario_surveys_url -%>&rarr;
<%= link_to parent_object.nombre_encuesta%></h3>

<%= render :partial => "new" %>