<h3><%= link_to "Inicio", {:controller => "/start"},{} -%>&rarr; 
<%= link_to "Administrador", {:controller => "/start", :action => "administrador"},{} -%>&rarr;
<%= link_to "Preguntas" -%></h3>

<% content_for :sidebar do %>
<div class="info">
    <h2>Opciones</h2>
    <ul>
    	<%= link_to "Crear pregunta", new_object_url(), :rel=>"lightbox"%>
    </ul>
    
</div>
<%end %>
<table class="azul">
    <thead>
        <tr>
            <th></th>
            <th> ID </th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody id="<%= list_id-%>">
        <%= render :partial => "row", :collection=> @collection %>
    </tbody>
     <tfoot id="<%= footer_id%>">
        <tr>
            <th colspan="3">
                <%= render :partial => 'shared/pagination_counter', :locals => {:collection=> @collection} -%>
            </th>
        </tr>
    </tfoot>
</table>

